
.col-md-2 {
    font-family: monospace;
    text-align: center;
    font-size: large;

}
.col-md-6 {
text-align: center;
}

.nav-item {
    color: darkseagreen;
}
.navbar-brand {
    background-color: darkseagreen;
    border-radius: 25px;
    padding: 10%;
}