
.col-md-2 {
    font-family: monospace;
    text-align: center;
    font-size: large;

}
.col-md-6 {
text-align: center;
}

.nav-item {
    color: darkseagreen;
}
.navbar-brand {
    background-color: darkseagreen;
    border-radius: 25px;
    padding: 10%;
}

.card-header {
    text-align: center;
    background-color: darkseagreen !important;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-family: monospace;
    font-size: 20px;
}

.card {
    max-width: 500px !important;
    margin: 10%;
}

.btn-primary {
    background-color: darkseagreen !important;
}