/* Navbar */

.col-md-2 {
    font-family: monospace;
    text-align: center;
    font-size: large;

}
.col-md-6 {
text-align: center;
}

.nav-item {
    color: darkseagreen;
}
.navbar-brand {
    background-color: darkseagreen;
    border-radius: 25px;
    padding: 10%;
}

/* Contact */

.card-header {
    text-align: center;
    background-color: darkseagreen !important;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.card {
    max-width: 500px !important;
    margin: 10%;
}

.btn-primary {
    background-color: darkseagreen !important;
}

#contact {
    text-align: left !important;
   
}

/* Portfolio */
.row {
    /* width: 70%;
    height: auto;
    position: fixed; */
    background-color: darkseagreen;
    font-family: monospace;
    margin: 5%;
    padding: 35px;
    /* left: 16.5%;
    right: 16.5%; */
    /* top: 12%; */
    border-radius: 25px;
}


.col { 
    text-align: center !important;
    font-size: 25px;
}

.image {
    padding: 10px;
    float: center;
    left: 16.5%;
    right: 16.5%;
}
.list-group-item-secondary {
    border-radius: 10px;
}

/* Background */
body {
    background-image: url("https://dty8d8u6se0an.cloudfront.net/media/image/thumbnail/450464_VanGogh-Blossom_2000x700.jpg");
    opacity: 90%;
    text-align: center !important;
}

/* About Me Section */

#about {
    text-align: center !important;
}

